// footer
footer.footer
	.footer__item.footer__copyright
		.copyright
			.copyright__about
				| Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
			.copyright__author
				| © Тишук Надежда <br /> Создано с любовью в LoftSchool | 2016
	.footer__item.footer__links
		+navMenu('','navigate-footer')
		+socials('socials-footer')
	.footer__item.footer__contacts
		+contacts('contacts-footer')