a.pageanchor#top
nav.navigate
	+navMenu('navTop','navigate-top')
// header
header.header.header-page.header-blog
	.header__picture
		img(src="assets/img/sand.jpg")
	.header__socials
			+socials('socials-top')
	button.hamburger__icon#togglenav menu
		span.hamburger__icon__line
	.header__user
		.userprofile.userprofile-page
			.userprofile__pic
				img.userprofile__img(src="assets/img/myCoolAvatar.jpg")
			+titleIcon('h1','title-big title-blog','blog_header','Блог')
			.title-blog-in Статьи, которые я написала



//- 	.header__top
//- 		.header__socials
//- 			+socials('socials-top')
//- 		.header__hamburger
//- 			button.hamburger__icon#togglenav menu
//- 				span.hamburger__icon__line
//- 	.header__user.header__user-blog
//- 		.userprofile.userprofile-page.userprofile-blog
//- 			.userprofile__pic
//- 				img.userprofile__img(src="assets/img/myCoolAvatar.jpg")
//- 			+titleIcon('h1','title-big title-blog','blog_header','Блог')
//- 			.title-blog-in Статьи, которые я написала
//- 	.header__triangle.header__triangle-blog
	
//- a.pageanchor(id="screen")