a.pageanchor#top
nav.navigate#navigate
	+navMenu('navTop','navigate-top')
// header
header.header.header-page.header-blog
	.header__picture
		img(src="assets/img/sand.jpg")
	.header__socials
			+socials('socials-top')
	button.hamburger__icon#togglenav menu
		span.hamburger__icon__line
	.header__user
		.userprofile.userprofile-page
			.userprofile__pic
				img.userprofile__img(src="assets/img/myCoolAvatar.jpg")
			+titleIcon('h1','title-big title-blog','blog_header','Блог')
			.title-blog-in Статьи, которые я написала