nav.navigate#navigate
	//.navigate__left.nav-animate
	//.navigate__right.nav-animate
	+navMenu('navTop','navigate-top')
// header
if tempName == 'About'
	header.header.header-page.header-about
		+headerPage
else
	header.header.header-page
		+headerPage