a.pageanchor(name="top")
.nav__block#nav
	ul.nav__list
		mixin navlistItems (name,href)
			li.nav__item
				a.nav__link(href=href)= name
		+navlistItems('Мои работы', 'works.html')
		+navlistItems('Блог', 'blog.html')
		+navlistItems('Обо мне', 'about.html')
		+navlistItems('Авторизация', 'index.html')
header.header__page.header_blog
	.header__social
		ul.socialicons__list
			mixin socialIconsList (name,href)
				li.socialicons__item
					a.socialicons__link(href=href)= name
						svg.socialicons__icon.socialicons__icon_nav
							use(xlink:href="assets/img/sprite.svg#"+name)
			+socialIconsList('vk', 'https://vk.com/tishukn')
			+socialIconsList('github', 'https://github.com/rainjeck')
			+socialIconsList('in', '#')

	nav.nav
		span.nav__hamburger#togglenav
			span.nav__hamburger_line
		//- input.nav__check(type="checkbox", id="nav__check")
		//- label.nav__hamburger(for="nav__check")
		//- 	svg(class="nav__icon")
		//- 		use(xlink:href="assets/img/sprite.svg#hamburger")
		//- .nav__block
		//- 	ul.nav__list
		//- 		mixin navlistItems (name,href)
		//- 			li.nav__item
		//- 				a.nav__link(href=href)= name
		//- 		+navlistItems('Мои работы', 'works.html')
		//- 		+navlistItems('Блог', 'blog.html')
		//- 		+navlistItems('Обо мне', 'about.html')
		//- 		+navlistItems('Авторизация', 'index.html')

	.userprofile_blog
		.container
			.userprofile.userprofile_page
				.userprofile__pic
					img.userprofile__img(src="assets/img/myCoolAvatar.jpg")
				h1.titles.titles_big
					span.titles__txt.titles__txt_big.titles__txt_light Блог
						span.titles__icon
							svg.titles__icon__svg
								use(xlink:href="assets/img/sprite.svg#blog_header")
					.titles__txt__sub Статьи, которые я написала
	
	.trianglecss

a.pageanchor(name="screen")