/* ---------- About Me Box ---------- */
.aboutme{

	&__items{
		display: flex;
		flex-direction: row;
		@include laptop {
			flex-direction: column;
		}
	}
	&__item{
		flex: 1;
		padding: 0 40px;
		@include phone {
			padding: 0;
		}

		&-leftbox{
			background: #efeee9;
		}
		&-rightbox{
			background: #eeebdf;
		}

		&-left{
			max-width: 600px;
			margin-left: auto;
			@include laptop {
				padding: 40px 0 0;
				margin: 0 auto;
			}
		}
		&-right{
			max-width: 600px;
			margin-rigth: auto;
			@include laptop {
				padding: 40px 0 0;
				margin: 0 auto;
			}
		}
	}

	&__content {
		color: #5d5a55;
		margin-bottom: 40px;
		@include phone {
			padding: 0 5px;
		}
	}

	&__pic {
		margin-bottom: 40px;
	}
	&__img {
		max-width: 100%;
	}

}

.skills{
	&__items{}
	&__name{
		font-size: 28px; // 28px
		font-family: 'Roboto Medium', 'Arial', sans-serif;
		margin-bottom: 20px;
		@include laptop {
			text-align: center;
		}
	}
}

// my skills
.myskills{
	&__items{
		margin-bottom: 40px;
		@include laptop {
			text-align: center;
		}
	}
	&__item{
		display: inline-block;
		position: relative;
		margin: 0 40px 40px 0;
		@include laptop {
			margin: 0 20px 20px;
		}
		&:last-child{
			margin: 0;
			@include phone {
				margin: 0 20px;
			}
		}
		&__icon{
			width: 125px;
			height: 125px;
			fill: none;
			stroke-width: 20;
			stroke: #dfdcd5;
			@include phone {
				width: 130px;
				height: 130px;
			}
			& > .sector {
				stroke-dasharray: 100 (2*35*3.1415);
				transition: all 1s;
				stroke: #e6ab3d;
				transform: rotate(-90deg);
				transform-origin: 50% 50%;
			}
		}
		&__type{
			color: #cd8920;
			font-size: 12px; // 12px
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;
			left: 0;
			text-align: center;
		}
	}
}

/* ---------- MAP ---------- */

.map {
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}
#map {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	@include phone {
		position: relative;
		height: 100vh;
	}
}

.window__box-about{
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	background-color: rgba(#fff, 0.85);
	border-radius: 4px;
	padding: 30px;
	@include phone {
		position: static;
		transform: none;
		width: 100%;
	}
}