* {
	box-sizing: border-box;
	&:before,
	&:after {
		box-sizing: inherit;
	}
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

$RobotoRegular: 'Roboto', 'Arial', sans-serif;
$RobotoMedium: 'Roboto Medium', 'Arial', sans-serif;
$Sansus: 'Sansus Webissimo', 'Arial', sans-serif;

/* ---------- HTML & BODY ---------- */

html {
	height: 100%;
	width: 100%;
	position: relative;
	font-size: 16px;
	@include phone {
		font-size: 14px;
	}
	@include small {
		font-size: 12px;
	}
}
.hideScroll {overflow: hidden;}
body {
	width: 100%;
	min-height: 100%;
	font-family: $RobotoRegular;
	color: #5d5a55;
	font-size: 16px;
	background: #faf8f0;
	position: relative;
	@include phone {
		font-size: 14px;
	}
}

.container {
	max-width: 1200px;
	//width: 1200px;
	margin: 0 auto;
	@extend .clearfix;
	&_sm {
		max-width: 820px;
		margin: 0 auto;
	}
}