/* ---------- BLOG ---------- */
.section-blog {

}

.blog {
	&__items{
		display: flex;
		@include tablet {
			flex-direction: column;
		}
	}
	&__item{
		flex: 1;
	}
	&__nav{
		flex: 1 1 30%;
		padding: 0 50px 0 10px;

		// nav list
		&__items {
			margin: 0; padding: 0;
			list-style: none;
			width: 100%;
		}
		&__item{
			display: block;
		}
		&__link{
			display: block;
			padding: 16px 13px 16px;
			text-align: right;
			color: #5d5a55;
			border-right: 3px solid transparent;
			&:hover {
				color: #cd8920;
				border-right: 3px solid #cd8920;
			}
			&:active {
				color: #e7a731;
			}
		}
	}

	// blog content
	&__content{
		flex: 3 1 70%;
		padding: 0 10px 0 50px;
		@include tablet{
			padding: 0 24px;
		}
		@include phone {
			padding: 0 10px;
		}
	}
	&__post{
		border-bottom: 5px solid #ecebe4;
		margin-bottom: 70px;
		&__header{
			color: #5d5a55;
			font-family: $Sansus;
			font-size: 35px;
			margin-bottom: 30px;
		}
		&__date{
			color: #cd8920;
			margin-bottom: 30px;
		}
		&__content{
			color: #5d5a55;
			p {
				margin-bottom: 20px;
			}
		}
		&__link {
			font-size: 0;
		}
	}
}