/* ---------- FOOTER ---------- */ 

.footer {
	padding: 30px 0;
	background: #4f4d47;
	opacity: 0.85;
	&__cont {
		padding: 0 30px;
	}

	&__about {
		color: #fff;
		font-family: 'Roboto Light', 'Arial', sans-serif;
		line-height: 24px;
	}
	&__author {
		color: #fff;
		font-family: 'Roboto Light', 'Arial', sans-serif;
		opacity: 0.5;
		line-height: 24px;
	}

	&__nav {
		&__list {
			padding: 0;
			margin: 0 0 50px 0;
			list-style: none;
			@extend .clearfix;
		}
		&__item {
			display: block;
			float: left;
			margin-right: 15px;
			&:last-child {
				margin-right: 0;
			}
		}
		&__link {
			color: #fff;
			font-family: 'Roboto Medium', 'Arial', sans-serif;
			&:hover {
				color: #cd8920;
			}
		}
	}
	&__decor {
		position: relative;
		&:before {
			content: "";
			display: block;
			width: 1px;
			background: #757a7d;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
		}
	}
	&__contacts {
		&__list {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline-block;
		}
		&__item {
			display: block;
			color: rgba(255,255,255,0.5);
			font-family: 'Roboto Light', 'Arial', sans-serif;
			margin-bottom: 8px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__link {}
	}
}

.toparrow {
	text-align: center;
	.toparrow__link {
		display: inline-block;
	}
	&__icon {
		width: 26px;
		height: 16px;
		transform: rotate(180deg);
		fill: #fff;
		opacity: 0.7;
		&:hover {
			opacity: 1;
		}
	}
}