/*
 * Titles
*/

.title {
  text-transform: uppercase;
  color: #5d5a55;
  font-family: $Sansus, Arial, sans-serif;
  text-align: center;

  &-medium {
    display: inline-block;
    font-size: 35px;
    padding: 0 26px;
    position: relative;

    @include decoration;

    &:before,
    &:after {
      width: 21px;
      height: 10px;
    }

    &:before {
      background-position: -122px 0px;
    }

    &:after {
      background-position: -183px 0px;
    }
  }

  &-light {
    color: #ffffff;

    &:before {
      background-position: 0px 0px;
    }

    &:after {
      background-position: -61px 0px;
    }
  }

  &-big {
    display: inline-block;
    font-size: 63px;
    padding: 70px;
    position: relative;

    @include decoration;

    &:before,
    &:after {
      width: 42px;
      height: 14px;
    }

    &:before {
      background-position: -317px 0px;
    }

    &:after {
      background-position: -397px 0px;
    }
  }

  &__icon {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    width: 100%;
    fill: rgba(#cd8920, 0.1);
    z-index: 0;
  }

  .title-header {
    padding-top: 0;
    padding-bottom: 0;
    &:before {
      background-position: -477px 0px;
      opacity: 0.4;
    }

    &:after {
      background-position: -557px 0px;
      opacity: 0.4;
    }

    .title__icon {
      fill: rgba(#cd8920, 0.2);
      height: 200px;
      z-index: -1;
    }
  }

  &-about {
    margin-top: -70px;
    margin-bottom: -35px;
    position: relative;
    z-index: 20;

    .title__icon {
    }
  }
}