 /* --- welcome-login.scss --- */

/* ---------- WELCOME & LOGIN ---------- */
.welcome {
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    // background: url(../img/sand.jpg) no-repeat top left;
    // background-size: cover;
  }
  &__login {
    padding: 20px 30px;
    text-align: right;
    position: relative;
    @include phone {
      text-align: center;
    }
  }
  &__window {
    text-align: center;
    position: relative;
  }
  &__footer {
    padding: 10px 0 40px;
    color: #fff;
    text-align: center;
    position: relative;
  }
  &__box {
    width: 380px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
  }
}

/* Desert Animation */
.desert {
  animation: desertbg 240s linear infinite;
  background: #f8e9d2 url(../img/sand.jpg) bottom left;
  background-repeat: repeat-x;
  background-size: auto 100%;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 6112px;
  z-index: 0;
}
@keyframes desertbg {
  0% {
    transform: translate3d(0,0,0);
  }
  100% {
    transform: translate3d(-3056px,0,0);
  }
}


.login {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  //display: none;
}

.login__link {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 12px 27px;
  color: #fff;
  &:hover {
    background: #fff;
    color: #cc8820;
    transition: 0.5s;
  }
}


/* ---------- WELCOME PANE ---------- */

.welcome {
  background-color: rgba(215, 191, 155, 0.6);
  padding-top: 10px;
  border-radius: 4px;
  overflow: hidden;
}

.usersocial {
  text-align: center;
  margin-bottom: 35px;
}

.usermenu {
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-content: stretch;
    width: 100%;
  }
  &__item {
    position: relative;
    flex-grow:1;
    &:after {
      content: "";
      position: absolute;
      top: 0; right: 0;
      height: 100%;
      width: 2px;
      background: #e1c58c;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  &__link {
    display: block;
    background: #e5a731;
    color: #fff;
    padding: 15px 5px 14px;
    text-align: center;
    &:hover {
      background: #ce8a20;
      transition: 0.5s;
    }
  }
}

@import 'common/flip.scss';