/* ---------- WORKS SECTION ---------- */
.section-myworks {
	padding-bottom: 0;
}

/* ---------- QUOTES ---------- */
.quotes{
	&__items{
		max-width: 820px;
		margin: 0 auto 70px;
		padding: 0 10px;
		display: flex;
		flex-direction: row;
		@include phone {
			flex-direction: column;
		}
	}
	&__item{
		flex: 1;
		padding: 0 10px;
		display: flex;
		flex-direction: column;
		align-content: space-between;
		justify-content: space-between;
		align-self: flex-start;
		@include phone {
			margin-bottom: 30px;
		}
		&:before{
			content: "";
			display: block;
			width: 35px;
			height: 27px;
			background: url(../img/sprite.png) no-repeat -244px 0px;
			background-size: 597px 27px;
			@include phone {
				margin: 0 auto;
			}
		}
	}

	&__content{
		padding: 60px 0 30px;
		line-height: 26px;
		@include phone {
			padding: 20px 0;
		}
	}

	&__author{
		display: flex;
		flex-direction: row;
		align-items: center;
		align-content: center;

		&__avatar{
			width: 77px;
			height: 77px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 20px;
			align-self: center;
			flex-basis: 77px;
		}
		&__img{
			width: 100%;
			min-height: 100%;
		}

		&__item{
			flex-basis: calc(100% - 77px);
			color: #cd8920;
		}
		&__name{
			display: block;
			font-weight: bold;
		}
		&__desc{
			display: block;
		}
	}
}