/* ---------- SLIDER ---------- */ 
.slider {}


/* ---------- QUOTES ---------- */
.quotes {
	padding: 0 0 60px;
	&__box {
		color: #5d5a55;
		position: relative;
		padding: 0 20px;
		&:before {
			content: "";
			display: block;
			width: 33px;
			height: 27px;
			background: url(../img/sprite.png) no-repeat -244px 0px;
		}		
	}
	&__cont {
		padding: 30px 0;
		line-height: 26px;
	}
	&__author {
		@extend .clearfix;
		position: relative;
		&__pic {
			width: 77px;
			height: 77px;
			border-radius: 50%;
			overflow: hidden;
			float: left;
		}
		&__img {
			width: 100%;
		}
		&__cont {
			float: left;
			width: 75%;
			padding: 22px 0 0 22px;
		}
		&__name {
			color: #cd8920;
			font-weight: bold;
		}
		&__who {
			color: #cd8920;
		}
	}
}