extends ../_template

block variables
	- var title = 'About'

block content
	include ../common/_header

	section.section.section_about
		.container
			.row__col-1-2
				h1.titles.titles_big
					span.titles__txt.titles__txt_big Обо мне
						span.titles__icon
							svg.titles__icon__svg
								use(xlink:href="assets/img/sprite.svg#about_header")
				
				.aboutme__box
					.aboutme__pic
						img.aboutme__img(src="assets/img/myCoolAvatar.jpg")
					h3.titles.titles_md
						span.titles__txt.titles__txt_md Кто я
					
					.aboutme__cont
						p Я веб разработчик из Москвы. Мне 31 год. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
						p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
			.row__col-1-2
				h3.titles.titles_md
						span.titles__txt.titles__txt_md Чем я могу быть <br/> вам полезна
				
				.skills__cont
					p Больше всего меня привлекет Frontend разработка, но я также знакома и могу решать не сложные задачи на Backend. Но давайте по порядку.
					.skills
						.skills__section
							.skills__name Frontend
							ul.skills__list
								li.skills__circle
									svg.skills__circle__icon(width="110px" height="110px" viewBox="0 0 110 110")
										circle(r="45" cx="55" cy="55")
										circle(r="45" cx="55" cy="55" class="sector" transform="rotate(-90 55 55)")
									span.skills__circle__type HTML 5

								li.skills__circle
									svg.skills__circle__icon(width="110px" height="110px" viewBox="0 0 110 110")
										circle(r="45" cx="55" cy="55")
										circle(r="45" cx="55" cy="55" class="sector" transform="rotate(-90 55 55)")
									span.skills__circle__type CSS 3

								li.skills__circle
									svg.skills__circle__icon(width="110px" height="110px" viewBox="0 0 110 110")
										circle(r="45" cx="55" cy="55")
										circle(r="45" cx="55" cy="55" class="sector" transform="rotate(-90 55 55)")
									span.skills__circle__type JavaScript <br/> & jQuery

						.skills__section
							.skills__name Backend
							ul.skills__list
								li.skills__circle
									svg.skills__circle__icon(width="110px" height="110px" viewBox="0 0 110 110")
										circle(r="45" cx="55" cy="55")
										circle(r="45" cx="55" cy="55" class="sector" transform="rotate(-90 55 55)")
									span.skills__circle__type PHP

								li.skills__circle
									svg.skills__circle__icon(width="110px" height="110px" viewBox="0 0 110 110")
										circle(r="45" cx="55" cy="55")
										circle(r="45" cx="55" cy="55" class="sector" transform="rotate(-90 55 55)")
									span.skills__circle__type mySQL

								li.skills__circle
									svg.skills__circle__icon(width="110px" height="110px" viewBox="0 0 110 110")
										circle(r="45" cx="55" cy="55")
										circle(r="45" cx="55" cy="55" class="sector" transform="rotate(-90 55 55)")
									span.skills__circle__type Node.js <br />& npm

								li.skills__circle
									svg.skills__circle__icon(width="110px" height="110px" viewBox="0 0 110 110")
										circle(r="45" cx="55" cy="55")
										circle(r="45" cx="55" cy="55" class="sector" transform="rotate(-90 55 55)")
									span.skills__circle__type Mongo.db

						.skills__section
							.skills__name Workflow
							ul.skills__list
								li.skills__circle
									svg.skills__circle__icon(width="110px" height="110px" viewBox="0 0 110 110")
										circle(r="45" cx="55" cy="55")
										circle(r="45" cx="55" cy="55" class="sector" transform="rotate(-90 55 55)")
									span.skills__circle__type Git

								li.skills__circle
									svg.skills__circle__icon(width="110px" height="110px" viewBox="0 0 110 110")
										circle(r="45" cx="55" cy="55")
										circle(r="45" cx="55" cy="55" class="sector" transform="rotate(-90 55 55)")
									span.skills__circle__type Gulp

								li.skills__circle
									svg.skills__circle__icon(width="110px" height="110px" viewBox="0 0 110 110")
										circle(r="45" cx="55" cy="55")
										circle(r="45" cx="55" cy="55" class="sector" transform="rotate(-90 55 55)")
									span.skills__circle__type Bower

	script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTDF_xuWIbXOZmzXH4Ud6Hw6zv1qrbcD0")
	script(src="assets/js/googlemap.js")
	section.map
		#map

		.box.box__map
			.box__title
				.box__title__text.box__title__text_dark Контакты
			.box__cont
				ul.box__list
					li.box__list__item
						svg.box__list__icon
							use(xlink:href="assets/img/sprite.svg#skype")
						a.box__list__link(href="skype:la.esperanza") la.esperanza
					li.box__list__item
						svg.box__list__icon
							use(xlink:href="assets/img/sprite.svg#envelope2")
						a.box__list__link(href="mailto:tishuknldev@ya.ru") tishuknldev@ya.ru
					li.box__list__item
						svg.box__list__icon
							use(xlink:href="assets/img/sprite.svg#phone2")
						a.box__list__link(href="tel:+79258647651") +7 925 864 76 51
					li.box__list__item
						svg.box__list__icon
							use(xlink:href="assets/img/sprite.svg#map_marker")
						| Москва, ул. Саратовская, д. 8/1
	
	include ../common/_footer