extends ../_template

block variables
	- var title = 'Блог - Тишук Надежда - front-end developer'

block content
	include ../common/_header_blog

	section.section.section_blog
		.container
			.blog__left
				.blog__nav__wrap
					ul.blog__nav__list
						li.blog__nav__item.active
							a.blog__nav__link(href="#samoe-vazhnoe-v-sass") Самое важное в SASS
						li.blog__nav__item
							a.blog__nav__link(href="#prijomy-v-vjorstke") Приёмы в вёрстке, без которых не обходится ни один сайт
						li.blog__nav__item
							a.blog__nav__link(href="#") Самый необходимый набор Gulp плагинов
			.blog__right
				.blog__post__wrap
					.blog__post
						a#samoe-vazhnoe-v-sass
						h3.titles.titles_sm
							span.titles__txt.titles__txt_sm Самое важное в SASS
						.blog__post__date 22 ноября 2016
						.blog__post__cont
							p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
							p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
					.blog__post
						a#prijomy-v-vjorstke
						h3.titles.titles_sm
							span.titles__txt.titles__txt_sm Приёмы в вёрстке, без которых не обходится ни один сайт
						.blog__post__date 22 ноября 2016
						.blog__post__cont
							p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
							p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
	
	include ../common/_footer