extends ../_template

block variables
	- var title = 'Блог - Тишук Надежда - front-end developer'

block content
	.wrapper-blog
		include ../common/_header_blog

		section.section.section-blog
			.container
				.blog__items
					// blog navigate
					.blog__item.blog__nav
						span.js-mobButton
						ul.blog__nav__items
							+blogItem('Мурлыканье','#murlikanie')
							+blogItem('Зенитные башни люфтваффе','#zenitnie-bashni-luftvaffe')
							+blogItem('Антонио Гауди','#antonie-gaudi')
							+blogItem('Женевское озеро','#zenevskoe-ozero')
							+blogItem('Carlsberg','#carlsberg')

					// blog content
					.blog__item.blog__content
						.blog__post(data-section="murlikanie")
							a.blog__post__link(name="murlikanie")
							.blog__post__header Мурлыканье
							.blog__post__date 12 dec. 2016
							.blog__post__content
								p Мурлыканье (урчание) — это, как правило, негромкий ритмичный продолжительный вибрирующий звук, издаваемый всеми кошачьими в момент получения положительных эмоций (ласки, насыщения и т. п.); реже в других случаях. Несмотря на то, что звуки, очень похожие на мурлыканье, издают также мангустовые, циветы, генеты, медведи, барсуки, гиены, традиционно, говоря о мурлыкании, имеют в виду только представителей семейства кошачьих.
								p Механизм мурлыканья долгое время оставался спорным вопросом, так как специального органа, ответственного за производство таких звуков, у кошачьих не обнаружено. Согласно последним исследованиям, механизм мурлыканья следующий: в коре головного мозга возникают электрические импульсы, которые поступают к располагающимся вблизи голосовых связок мышцам и заставляют их сокращаться. Собственно «аппарат мурлыканья» располагается у кошек между основанием черепа и основанием языка и представляет собой тонко связанные подъязычные косточки. Сокращение мышц возле голосовых связок вызывает их вибрацию. Мурлыкающий звук кошка издает ртом и носом, а вибрация распространяется по всему её телу, при этом, во время мурлыканья невозможно прослушать лёгкие и сердце животного.
								p Причины мурлыканья кошки полностью не ясны. Замечено, что кошки мурлыкают, когда получают ласку и чувствуют себя в безопасности; реже, когда едят. Кошки иногда мурлыкают во время родов, а котята умеют мурлыкать уже в возрасте двух дней. Некоторые исследователи предполагают, что с помощью мурлыканья кошки требуют у своего хозяина покормить их или просто обратить внимание, причём типы мурлыканья могут быть разными: оно может выражать удовольствие, скуку, приветствие хозяина, беспокойство, благодарность. Ещё одна теория гласит, что с помощью мурлыканья кошки стимулируют свой мозг на выработку гормона, действующего как расслабляющее, заживляющее и обезболивающее: зафиксированы случаи, когда мурлыкают раненые кошки, которым больно.

						.blog__post(data-section="zenitnie-bashni-luftvaffe")
							a.blog__post__link(name="zenitnie-bashni-luftvaffe")
							.blog__post__header Зенитные башни люфтваффе
							.blog__post__date 12 dec. 2016
							.blog__post__content
								p Зенитные башни люфтваффе (нем. Flakturm - флактурм) — большие наземные бетонные бункеры, вооружённые артиллерией ПВО, использовавшиеся люфтваффе в годы Второй мировой войны для концентрированного размещения групп крупнокалиберных зенитных орудий с целью защиты стратегически важных городов от воздушных бомбардировок антигитлеровской коалиции. Также использовались для координации воздушной обороны и служили бомбоубежищами.
								p Башни строились не отдельными строениями, а комплексом сооружений. Каждый комплекс состоял из двух башен:
								ul
									li G-башня (нем. Gefechtsturm) или боевая башня, также известная как оружейная башня или большая зенитная башня;
									li L-башня (нем. Leitturm) или главная башня, также известная как башня управления огнём, командирская башня или малая зенитная башня.
								p В Вене построены 3 комплекса: один 2-го поколения и два 3-го поколения.
								p Flakturm V — Аренберг парк (2 поколение): G-башня использовалась как хранилище для художественных работ; L-башня осталась пустой.
								p Flakturm VII — Штифтсказернеб (3 поколение): G-башня находится на военной базе австрийской армии; L-башня (в парке Эстерхази) использовалась как аквариум («Haus des Meeres») и имеет скалодром на фасаде.
								p Flakturm VIII — Аугартен (3 поколение): G-башня осталась пустой; L-башня осталась пустой.

						.blog__post(data-section="antonie-gaudi")
							a.blog__post__link(name="antonie-gaudi")
							.blog__post__header Антонио Гауди
							.blog__post__date 12 dec. 2016
							.blog__post__content
								p Антони Пласид Гильéм Гауди-и-Корнет  — испанский (каталонский) архитектор, большинство проектов которого возведено в Барселоне.
								p Стиль, в котором творил Гауди, относят к модерну. Однако фактически в своём творчестве он использовал элементы самых различных стилей, подвергая их творческой переработке.
								p Гауди с детства страдал ревматизмом, препятствующим играм с другими детьми, но не мешающим длительным одиночным прогулкам, к которым он питал пристрастие всю свою жизнь. Ограниченная из-за болезни подвижность обострила наблюдательность будущего архитектора, открыла ему мир природы, ставший главным источником вдохновения при решении как художественно-оформительских, так и конструктивных задач.
								p 7 июня 1926 года 73-летний Гауди вышел из дома, чтобы отправиться в свой ежедневный путь к церкви Сант-Фелип-Нери, прихожанином которой он был. Идя рассеянно по улице Гран-Виа-де-лас-Кортес-Каталанес между улицами Жирона и Байлен, он был сбит трамваем и потерял сознание. Извозчики отказывались везти в больницу неопрятного, неизвестного старика без денег и документов, опасаясь неуплаты за поездку. В конце концов, Гауди доставили в больницу для нищих, где ему оказали лишь примитивную медицинскую помощь. Лишь на следующий день его нашёл и опознал капеллан храма Саграда-Фамилия Мосен Хиль Парес-и-Виласау. К тому времени состояние Гауди уже ухудшилось настолько, что лучшее лечение не могло ему помочь.
								p Гауди скончался 10 июня 1926 года и был похоронен двумя днями позже в крипте недостроенного им храма.

						.blog__post(data-section="zenevskoe-ozero")
							a.blog__post__link(name="zenevskoe-ozero")
							.blog__post__header Женевское озеро
							.blog__post__date 12 dec. 2016
							.blog__post__content
								p Женевское озеро или Леман (фр. Lac Léman, Le Léman, Lac de Genève) — самое большое озеро Альп и второе по величине (вслед за Балатоном) пресноводное озеро Центральной Европы. Расположено в границах Швейцарии и Франции.
								p Женевское озеро лежит в пойме реки Рона и имеет форму полумесяца, изгибающегося в районе деревни Ивуар. Изгиб естественным образом делит Женевское озеро на Большое (фр. Grand Lac) и Малое озёра (фр. Petit Lac).
								p Северный берег озера усеян фешенебельными курортами — Швейцарская ривьера. В этих краях высится Шильонский замок, прославленный лордом Байроном в одноимённой поэме.

						.blog__post(data-section="carlsberg")
							a.blog__post__link(name="carlsberg")
							.blog__post__header Carlsberg
							.blog__post__date 12 dec. 2016
							.blog__post__content
								p Carlsberg (Карлсберг) — датская пивоваренная компания, одна из крупнейших в мире. Штаб-квартира находится в копенгагенском районе Вальбю.
								p Основана в 1847 году датским предпринимателем Якобом Кристианом Якобсеном, который назвал компанию в честь своего сына Карла. Поставки пива на экспорт (в Шотландию) начались с 1868 года; первая зарубежная пивоварня построена в 1968 году в Малави.
								p В 1865 году на заводе Carlsberg начала работу химико-физиологическая лаборатория. Её специалисты (в частности, Эмиль Христиан Хансен) разработали метод культивирования чистых дрожжей, решивший проблему ферментации пива (до этого пивовары использовали нестабильные закваски). Выделенная ими культура дрожжей в честь лаборатории получила наименование Saccharomyces carlsbergensis. С 1901 по 1938 годы лабораторией руководил известный датский биохимик Сёрен Педэр Лауриц Сёренсен, чьё имя чаще всего упоминается в связи с введённым им обозначением водородного показателя pH.
								p Карл Якобсен был не только успешным предпринимателем, но и меценатом и филантропом, основателем Новой глиптотеки Карслберга. Под его руководством архитектор Вильгельм Далеруд застроил квартал Копенгагена, в котором стали размещаться производство и административные здания компании.
								p В 1969—1971 гг. председателем правления компании был известный датский учёный, физиолог Пауль Реберг, который в 1970 году успешно провёл процесс поглощения Carlsberg пивоваренной компании Tuborg.

		include ../common/_footer