extends ../_template

block variables
	- var title = 'Блог - Тишук Надежда - front-end developer'
	- var tempName = 'blog'
	- var posts

block content
	.wrapper-blog#blogPage
		include ../common/_header_blog

		section.section.section-blog
			.container
				.blog__items
					// blog navigate
					.blog__item.blog__nav
						span.js-mobButton
						ul.blog__nav__items#blogNav

					// blog content
					.blog__item.blog__content#posts
						include ../extends/_blog-posts
						//- each post in posts
						//- 	.blog__post(data-section= post._id)
						//- 		a.blog__post__link(name= post._id)
						//- 		.blog__post__header #{post.postTitle}
						//- 		.blog__post__date #{post.postDate}
						//- 		.blog__post__content
						//- 			p!= post.postContent

		include ../common/_footer