extends ../_template

block variables
	- var title = 'Welcome'

block content
	.welcome__wrapper
		include ../common/_header_welcome

		.container.flipcontainer#flip
			.flipper
				.welcome.front
					.userprofile
						.userprofile__pic
							img.userprofile__img(src="assets/img/myCoolAvatar.jpg")
						.userprofile__name Тишук Надежда
						.userprofile__prof Личный сайт веб разработчика

					.usersocial
						ul.socialicons__list
						mixin socialIconsList (name,href)
							li.socialicons__item
								a.socialicons__link(href=href)= name
									svg.socialicons__icon
										use(xlink:href="assets/img/sprite.svg#"+name)
						+socialIconsList('vk', 'https://vk.com/tishukn')
						+socialIconsList('github', 'https://github.com/rainjeck')
						+socialIconsList('in', '#')

					.usermenu
						ul.usermenu__list
							mixin usermenuItems (name,href)
								li.usermenu__item
									a.usermenu__link(href=href)= name
							+usermenuItems('Мои работы','works.html')
							+usermenuItems('Обо мне','about.html')
							+usermenuItems('Блог','blog.html')
				// .welcome

				.box.back
					.box__title
						.box__title__text Авторизуйтесь

					form.form
						.form__text_icon
							input.form__text__input(type="text", placeholder="Логин", id="auth-login")
							label.form__text__label(for="auth-login")
								svg(class="form__icon icon__svg-login")
									use(xlink:href="assets/img/sprite.svg#login")
						.form__text_icon
							input.form__text__input(type="text", placeholder="Пароль", id="auth-pass")
							label.form__text__label(for="auth-pass")
								svg(class="form__icon icon__svg-password")
									use(xlink:href="assets/img/sprite.svg#password")
						.form__check
							input.form__check__input(type="checkbox", id="auth-check")
							label.form__check__label(for="auth-check") Я человек
								span.form__check__style
								svg(class="form__icon icon__svg-check")
									use(xlink:href="assets/img/sprite.svg#check")
						.form__robot
							| Вы точно не робот?
						.form__radiogroup
							label.form__radiogroup__label
								input.form__radiogroup__radio(type='radio', name='form__radiogroup')
								span.form__radiogroup__style
								| Да
							label.form__radiogroup__label
								input.form__radiogroup__radio(type='radio', name='form__radiogroup')
								span.form__radiogroup__style
								| Не уверен

					.box__menu
						ul.box__menu__list
							li.box__menu__item
								a.box__menu__link#flipreturn(href="#") На главную
							li.box__menu__item
								a.box__menu__link(href="#") Войти

		include ../common/_footer_welcome