extends ../_template

block variables
	- var title = 'Home page'

block content
	include ../common/_header_welcome

	.container

		.welcome
			.userpic
				img.userpic__img(src="assets/img/myCoolAvatar.jpg")

			.username
				.username__text
					| Тишук Надежда

			.usertitle
				.usertitle__text
					| Личный сайт веб разработчика

			.usersocial
				.social__list
					mixin socialItems (name,href)
						li.social__item
							a.social__link(href=href)
								svg(class="social__icon icon__svg-" + name)
									use(xlink:href="assets/img/sprite.svg#" + name)
					+socialItems('vk','#1')
					+socialItems('github','#2')
					+socialItems('in','#2')

			.usermenu
				ul.usermenu__list
					mixin usermenuItems (name,href)
						li.usermenu__item
							a.usermenu__link(href=href)= name
					+usermenuItems('Мои работы','class')
					+usermenuItems('Обо мне','class')
					+usermenuItems('Блог','class')
		// .welcome

		.auth
			.auth__title
				.title__text Авторизуйтесь

			form.authform
				.authform__text--icon
					label.authform__text__label(for="auth-login")
					input.authform__text__input(type="text", placeholder="Логин", id="auth-login")
					svg(class="authform__icon icon__svg-login")
						use(xlink:href="assets/img/sprite.svg#login")
				.authform__text--icon
					label.authform__text__label(for="auth-pass")
					input.authform__text__input(type="text", placeholder="Пароль", id="auth-pass")
					svg(class="authform__icon icon__svg-password")
						use(xlink:href="assets/img/sprite.svg#password")
				.authform__check
					input.authform__check__input(type="checkbox", id="auth-check")
					label.authform__check__label(for="auth-check") Я человек
						span.authform__check__style
						svg(class="authform__icon icon__svg-check")
							use(xlink:href="assets/img/sprite.svg#check")
				.authform__robot
					| Вы точно не робот?
				.authform__radiogroup
					label.authform__radiogroup__label
						input.authform__radiogroup__radio(type='radio', name='authform__radiogroup')
						span.authform__radiogroup__style
						| Да
					label.authform__radiogroup__label
						input.authform__radiogroup__radio(type='radio', name='authform__radiogroup')
						span.authform__radiogroup__style
						| Не уверен

			.authmenu
				ul.authmenu__list
					mixin authmenuItems (name,href)
						li.authmenu__item
							a.authmenu__link(href=href)= name
					+authmenuItems('На главную','class')
					+authmenuItems('Войти','class')
		// .auth

	include ../common/_footer_welcome