extends ../_template

block variables
  - var title = 'Мои работы - Тишук Надежда - front-end developer'
  - var tempName = 'Works'

block content
  include ../common/_mixins.pug
  include ../common/_header.pug

  +header

  section.section.section-myworks
    +titleWithIcon('h1','title-big','works_header','Мои работы')

    // slider
    .slider__container
      ul.slider__items
        +slider
      button.slider__btn.slider__btn-prev
        svg.slider__btn-icon
          use(xlink:href="assets/img/sprite.svg#portf_arrow_down")
      button.slider__btn.slider__btn-next
        svg.slider__btn-icon
          use(xlink:href="assets/img/sprite.svg#portf_arrow_down")
      ul.slider__dots

  // works quotes
  section.section.section-quotes
    .container
      +titleWithIcon('h2','title-big','about_header','Что обо мне <br/> говорят')
      .quotes__items
        .quotes__item
          .quotes__content
            | Эта девчонка проходила обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .author
            .author__avatar
              img.author__img(src="assets/img/kovalchuk.jpg")
            .author__item
              span.author__name Ковальчук Дмитрий
              span.author__desc основатель Loftschool
        .quotes__item
          .quotes__content
            | Этот код выдержет любые испытания. Только пожалуйста, не загружаете сайт на слишком старых браузерах!
          .author
            .author__avatar
              img.author__img(src="assets/img/saharov.jpg")
            .author__item
              span.author__name Зар Захаров
              span.author__desc преподаватель

    // section mailme
    .section-mailme
      .blur__background
        img.blur__img(src="assets/img/sandFooter.jpg")
      .panel.panel-sendmail.blur__wrapper
        .blur__form
        +title('div','title-medium title-sendmail','Связаться со мной')

        form#mailForm.form
          fildset.form__fildset
            .form__group
              input.form__input-text(type='text', name='mailName', id="mailName", placeholder="Имя")
              label.form__label(for='mailName')
                | Имя
            .form__group
              input.form__input-text(type='text', name='mailEmail', id="mailEmail", placeholder="E-mail")
              label.form__label(for='mailEmail')
                | E-mail
            .form__group
              textarea.form__textarea(name="mailMessage", id="mailMessage", placeholder="Ваше сообщение")
              label.form__label(for="mailMessage")
                | Сообщение
          .panel__menu
            ul.panel__list
              li.panel__item
                button.panel__link.form__submit Отправить
              li.panel__item
                input.panel__link.form__submit(type="reset", value="Очистить")

      .arrow__top
        a#arrowUp.arrow__top__btn(href="#top")
          svg.arrow__top__icon
            use(xlink:href="assets/img/sprite.svg#arrow_down")

  include ../common/_footer