extends ../_template

block variables
	- var title = 'Works'

block content
	include ../common/_header

	// works slider
	section.section.section_slider
		h1.titles.titles_big
			span.titles__txt.titles__txt_big Мои работы
				span.titles__icon
					svg.titles__icon__svg
						use(xlink:href="assets/img/sprite.svg#works_header")
		.slider__list__wrap
			ul#slider
				li.slide__item
					.slide__pic
					.slide__desc
		.slider__controls
			a.slider__next(href="#")
			a.slider__prev(href="#")

	
	// works quotes
	section.section.section_quote
		.container
			h1.titles.titles_big
				span.titles__txt.titles__txt_big Что обо мне <br/> говорят
					span.titles__icon
						svg.titles__icon__svg
							use(xlink:href="assets/img/sprite.svg#about_header")
		.container_sm.quotes
			.row
				.row__col-1-2
					.quotes__box
						.quotes__cont
							| Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
						.quotes__author
							.quotes__author__pic
								img.quotes__author__img(src="assets/img/kovalchuk.jpg")
							.quotes__author__cont
								.quotes__author__name
									| Ковальчук Дмитрий
								.quotes__author__who
									| основатель Loftschool

				.row__col-1-2
					.quotes__box
						.quotes__cont
							| Этот код выдержет любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
						.quotes__author
							.quotes__author__pic
								img.quotes__author__img(src="assets/img/saharov.jpg")
							.quotes__author__cont
								.quotes__author__name
									| Зар Захаров
								.quotes__author__who
									| преподаватель
		// mail form
		.container.box__mailme
			.box
				.box__title
					.box__title__text.box__title__text_dark Связаться со мной

				form.form.form-mail
					.form__text
						input.form__text__input(type="text", placeholder="Имя", id="mailName")
					.form__text
						input.form__text__input(type="text", placeholder="E-mail", id="mailMail")
					.form__text
						textarea.form__text__input.form__textarea(placeholder="Ваше сообщение")

				.box__menu
					ul.box__menu__list
						mixin authmenuItems (name,href)
							li.box__menu__item
								a.box__menu__link(href=href)= name
						+authmenuItems('Отправить','#')
						+authmenuItems('Очистить','#')
			// .box
		.toparrow
			a.toparrow__link(href="#top")
				svg.toparrow__icon
					use(xlink:href="assets/img/sprite.svg#arrow_down")
	
	include ../common/_footer